@font-face {
    font-family: jeko-font;
    src: url(../fonts/Jeko\ Bold.ttf);
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}}
/* HEADER SECTION */

header {
    font-size: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

nav {
    font-family: 'Space Grotesk', sans-serif;
}

.navbar {
    position: relative; 
}

nav.navbar {
    padding: 48px 18px;
}


.navbar::before,
.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%; 
    border-bottom: 1px solid #ccc;
}

.navbar::before {
    left: 1%;
}

.navbar::after {
    right: 1%;
}

div.collapse {
    justify-content: space-between;
}

i {
    font-style: normal;
}

.icons {
    font-family: FontAwesome;
    padding-right: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.icons i {
    border: 1px solid #1D9BF0;
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 20px;
}

.icons li.nav-link {
    margin: 0px 8px;
    padding: 0;
}

ul.icons .nav-link i {
    color: #000000;
}

ul.navbar-nav.icons {
    display: flex;
    align-items: center;
}

.login-btn {
    background-image: linear-gradient(to left, #1D9BF0, #32599C);
    padding: 12px 28px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    letter-spacing: 2px;
    margin-left: 4px;
}

.navbar-edit {
    justify-content: space-between;
}

.navigation {
    display: flex;
    width: 80%;
    justify-content: center;
}

.navigation li a {
    color: #000000;
    font-weight: 600;
}

.nav-icons-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.navbar-toggler {
    background: linear-gradient(45deg, #1D9BF0, #32599C);
}

button.navbar-toggler i {
    padding-top: 5px;
}

/* HERO SECTION */

.hero-section {
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    padding-bottom: 78px;
    position: relative;
    padding-top: 206px;
}

.hero-section::before {
    content: "";
    background-image: url(../images/circle-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-background {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 78px;
}

.hero-section .row .col-md-12:nth-child(1) h2 {
    font-size: 100px;
    font-weight: 700;
    padding-left: 88px;
    margin-bottom: 0;
    line-height: 1;
}

.hero-section .row .col-md-12:nth-child(2) h1 {
    font-size: 200px;
    font-weight: 700;
    -webkit-text-stroke: 3px #32599C;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
    padding-left: 158px;
}

.hero-section .row .col-md-11 h2 {
    font-size: 100px;
    font-weight: 500;
    text-align: right;
    line-height: 1;
}

.hero-section .row .col-md-12:nth-child(4) {
    margin-bottom: 84px;
}

.hero-section .row .col-md-12:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h4 {
    font-family: jeko-font, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.hero-section p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.hero-section button {
    background-image: linear-gradient(to left, #1D9BF0, #32599C);
    font-size: 20px;
    padding: 18px 36px;
    border-radius: 35px;
}

.hero-section button::before {
    content: url(../images/button-arrow.png);
    position: absolute;
    left: 30%;
    top: 20%;
}

.hero-section button i {
    transform: rotate(315deg);
}

.hero-section img {
    padding-left: 258px;
}


/* FOOTER SECTION */

footer {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F0F0;
    padding: 0 2%;
}

.footer-group4 input {
    width: 100%;
    padding: 18px 16px;
    border: none;
    border-radius: 28px;
}

.footer-group4 button {
    position: absolute;
    right: 4%;
    margin-top: 5px;
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to left, #1D9BF0, #32599C);
    border: none;
    padding: 13px 18px;
}

.primary-footer {
    padding: 96px 0px;
    
}

.primary-footer {
    position: relative; 
}

.primary-footer::before,
.primary-footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%; 
    border-bottom: 1px solid #ccc;
}

.primary-footer::before {
    left: 1%;
}

.primary-footer::after {
    right: 1%;
}

.primary-footer h3 {
    font-size: 20px;
    margin-bottom: 48px;
}

.footer-group4 h3 {
    text-align: right;
}

.primary-footer div {
    font-size: 16px;
}

.primary-footer ul {
    list-style: none;
    padding: 0;
    margin: 42px 0 0 0;
}

.primary-footer li {
    margin-bottom: 32px;
}

.primary-footer li a {
    text-decoration: none;
    color: #656565;
    margin-bottom: 7px;
}

.footer-group1 {
    margin-bottom: 32px;
    color: #656565;
}
.footer-group1 p {
    margin-bottom: 8px;
    color: #656565;
}

.footer-group1 a {
    color: #2169AA;
    font-size: 24px;
}

.footer-group2 a {
    color: #2169AA;
}

.footer-group2 p {
    margin-bottom: 8px;
    color: #656565;
}

.socials {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: end;
}

.socials i {
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 6px 6px;
    color: #272727;
    margin: 0 6px;
}

.secondary-footer {
    padding: 18px 0;
    font-family: 'Poppins', sans-serif;
    color: #AEAEAE;
}

.secondary-footer span {
    font-weight: 800;
    color: #2169AA;
}

.secondary-footer p {
    margin-left: 8px;
}

.secondary-footer i {
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to left, #1D9BF0, #32599C);
    border: none;
    padding: 14px 18px;
}

.secondary-footer a {
    margin-right: 8px;
}


.sub-footer-group{
    display: flex;
    justify-content: space-between;
}







